*
!*/
PakketManager/dist/*
build

!*.java
!*.jsp
!web.xml
!glassfish-web.xml
!Beans-interface/nbproject/project.properties
!.gitignore
!README.md
!PakketManager/setup/glassfish-resources.xml
!PakketManager/PakketManager-ejb/src/conf/persistence.xml