/nbproject/private/
/PakketManager-ejb/nbproject/private/
/PakketManager-war/nbproject/private/
/PakketManager-war/build/
/build/
/PakketManager-ejb/build/
/PakketManager-ejb/dist/
/PakketManager-war/dist/